<!DOCTYPE html>
<html>
<head>
    <title> My Resume </title>

    {% load staticfiles %}
   <link rel="stylesheet" href="{% static 'css/resume/resume_style.css' %}"/>


</head>
<body>

    <header id="body-header">
        <nav>

            <ul class="horizontal-list text-center nav-menu">
                <li>
                    <a href=" "> Home </a>
                </li>
                <li>
                    <a href="#about"> About </a>
                </li>
                <li>
                    <a href="#skills"> Skills </a>
                </li>
                <li>
                    <a href="#experience">Experience</a>
                </li>
                <li>
                    <a href="#education">Education</a>
                </li>
                <li>
                  <a href="#certificate"> certificate </a>
                </li>
                <li>
                    <a href="#portfolio">Projects</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>

        </nav>

        <div id="name-social-container">
            <div class="text-center">
                <h1 id="my-name">
                    Mateshwari Verma
                </h1>

            </div>
            <div>
                <ul class="horizontal-list text-center social-icons">
                    <li>
                        <a href="#">
                            <img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000015_1549330433_linkedin-logo.png" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000022_1549822879_stackoverflow-logo.png" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000023_1549823282_google-plus-logo.png" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000014_1549330414_facebook-logo.png" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000021_1549822861_quora-logo.png" alt="" />
                        </a>
                    </li>
                </ul>

            </div>

        </div>

    </header>
    <main>

        <section id="about">

            <div id="my-image">
                 <img src="{% static 'image/mpv_pic.png' %}">
            </div>
			<div id="p1">
            <p> Hey ,Iam  mateshwari verma student of computer science from SRIMT lucknow (B.tech-2020 batch).<br> i have done my internship from Neuraltechsoft ,Mumbai as a python developement ( Algo Traiding- stock market).iam strongly skilled in fundamental of computer science like data structure and algorithm,DBMS.
			currently iam looking as a (python developer )SDE-1. </p>
        </div>
        </section>

        <section id="skills">
		   <h1 class="section-heading mb75px ">
                <span>
                    <i class="fas fa-chalkboard-teacher"></i>
                </span>
                <span> SKILLS </span>
            </h1>

            <div class="skills-display">

                <div class="skill-progress">
                    <div class="fifty-percent mb-blue">
                        <div class="skill-name">
                            <span> C++ </span>
                        </div>
                    </div>
                </div>
                <div class="skill-progress">
                    <div class="eighty-five-percent mb-orange">
                        <div class="skill-name">
                            <span> Data Structure and algorithm </span>
                        </div>
                    </div>
                </div>
                <div class="skill-progress">
                    <div class="eighty-percent mb-light-purple">
                        <div class="skill-name">
                            <span> Python </span>
                        </div>
                    </div>
                </div>
                <div class="skill-progress">
                    <div class="eighty-five-percent mb-orange">
                        <div class="skill-name">
                            <span> HTML </span>
                        </div>
                    </div>
                </div>
                <div class="skill-progress">
                    <div class="eighty-percent mb-light-purple">
                        <div class="skill-name">
                            <span> MYSQL </span>
                        </div>
                    </div>
                </div>
                <div class="skill-progress">
                    <div class="fifty-percent mb-teal">
                        <div class="skill-name">
                            <span> Javascript </span>
                        </div>
                    </div>
                </div>
                <div class="skill-progress">
                    <div class="fifty-percent mb-blue">
                        <div class="skill-name">
                            <span> ML </span>
                        </div>
                    </div>
                </div>
                <div class="skill-progress">
                    <div class="eighty-percent mb-light-purple">
                        <div class="skill-name">
                            <span> Django </span>
                        </div>
                    </div>
                </div>

            </div>


        </section>

        <section id="experience">

		 <h1 class="section-heading mb75px">
                <span>
                    <i class="fas fa-briefcase"></i>
                </span>
                <span> Work Experience </span>
            </h1>

            <div class="timeline">

                <div class="timeline-box ">
                    <div class="timeline-container">
                        <div class="timeline-logo">
                            <img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000030_1550710829_ninjasicon.png">
                        </div>
                        <h3 class="experience-designation  m0 m-blue"> SDE Trainee </h3>
                        <h4 class="experience-company-name"> Career camp coding ninjas  </h4>
                        <h5 class="experience-duration m0"> jan 2020 - june 2020</h5>

                        <p class="experience-description text-align-justify">
                          career camp Trainee is a part of coding ninjas which provided 6 month industrial trainee for SDE and web developer .
                          it make us become a full stack developer , SDE-1 , problem satter...etc.
                          during this trainee i have learn a lot of things like :
                           java, DSA, fronted( html,css,js),backend(java, nodejs,react), mysql,dbms,os,and
                           many major project also done in web developement .

						            </p>
                    </div>
                </div>

                <div class="timeline-box right ">
                    <div class="timeline-container">
                        <div class="timeline-logo">
                            <img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000030_1550710829_ninjasicon.png">
                        </div>
                        <h3 class="experience-designation  m0 m-blue"> Python developer Intern </h3>
                        <h4 class="experience-company-name"> Neuraltechsoft,Mumbai </h4>
                        <h5 class="experience-duration m0"> jan 2020- march 2020 </h5>
                        <p class="experience-description text-align-justify">
                          Role: data science intern ( algo Traiding-stock market ).
                          here iam worked as a intern at algo Traiding technology means developed and design a software
                           which automatically traide on stock market .
                          and become a broker of market .<br>
                          Tools worked: python, django, numpy, pandas, IB API .
						           </p>
                    </div>
                </div>

                <div class="timeline-box left ">
                    <div class="timeline-container">
                        <div class="timeline-logo">
                            <img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000030_1550710829_ninjasicon.png">
                        </div>
                        <h3 class="experience-designation m0 m-blue"> Intern </h3>
                        <h4 class="experience-company-name"> Geeksforgeeks</h4>
                        <h5 class="experience-duration m0"> sep 2019 - march 2020 </h5>

                        <p class="experience-description text-align-justify">

                           Role: technical content writter
                           here i write a article on DSA...etc for geeksforgeeks .
                           i have already published two article also here still now.
						 </p>
                    </div>
                </div>

                <div id="timeline-divider">
                    <div class="timeline-traveller">
                        <div>
                            <i class="fas fa-plane"></i>
                        </div>
                    </div>
                </div>

            </div>


        </section>

        <section id="education">
		  <h1 class="section-heading mb75px">
                <span>
                    <i class="fas fa-graduation-cap"></i>
                </span>
                <span> Education </span>
            </h1>

            <div class="timeline">

                <div class="timeline-box left ">
                    <div class="timeline-container">
                        <div class="timeline-logo">
                            <img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000032_1550746413_iiitd_logo.png">
                        </div>
                        <h3 class="experience-designation  m0 m-blue"> B.Tech </h3>
                        <h4 class="experience-company-name "> SRIMT Lucknow </h4>
                        <h5 class="experience-duration m0"> July 2016 - June 2020 </h5>

                        <p class="experience-description text-align-justify"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                </div>

                <div class="timeline-box right ">
                    <div class="timeline-container">
                        <div class="timeline-logo">
                            <img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000032_1550746413_iiitd_logo.png">
                        </div>
                        <h3 class="experience-designation  m0 m-blue"> Class-12 </h3>
                        <h4 class="experience-company-name "> CMS Balrampur </h4>
                        <h5 class="experience-duration m0"> july 2012- june 2014 </h5>
                        <p class="experience-description text-align-justify"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                </div>

                <div class="timeline-box left ">
                    <div class="timeline-container">
                        <div class="timeline-logo">
                            <img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000032_1550746413_iiitd_logo.png">
                        </div>
                        <h3 class="experience-designation  m0 m-blue"> Class-10 </h3>
                        <h4 class="experience-company-name "> CMS Balrampur </h4>
                        <h5 class="experience-duration m0"> july 2010-june 2012 </h5>

                        <p class="experience-description text-align-justify"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                </div>

                <div id="timeline-divider">
                    <div class="timeline-traveller">
                        <div>
                            <i class="fas fa-car-side"></i>
                        </div>
                    </div>
                </div>

            </div>


        </section>
        <section id="certificate">

       <h1 class="section-heading mb75px">
                <span>
                    <i class="fas fa-th-list"></i>
                </span>
                <span> certificate</span>
            </h1>

            <div id="portfolio-container">

                <div class="portfolio-image-container">
                    <img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000025_1550237330_codezen_2.png">
                    <div class="portfolio-details">
                        <p>
                            Write here basic details about the project.
                        </p>
                    </div>

                </div>
                <div class="portfolio-image-container">
                    <img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000025_1550237330_codezen_2.png">
                    <div class="portfolio-details">
                        <p>
                            Write here basic details about the project.
                        </p>
                    </div>

                </div>
                <div class="portfolio-image-container">
                    <img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000025_1550237330_codezen_2.png">
                    <div class="portfolio-details">
                        <p>
                            Write here basic details about the project.
                        </p>
                    </div>

                </div>
                <div class="portfolio-image-container">
                    <img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000024_1550237299_codezen.png">
                    <div class="portfolio-details">
                        <p>
                            Write here basic details about the project.
                        </p>
                    </div>

                </div>
                <div class="portfolio-image-container">
                    <img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000024_1550237299_codezen.png">
                    <div class="portfolio-details">
                        <p>
                            Write here basic details about the project.
                        </p>
                    </div>

                </div>
                <div class="portfolio-image-container">
                    <img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000024_1550237299_codezen.png">
                    <div class="portfolio-details">
                        <p>
                            Write here basic details about the project.
                        </p>
                    </div>

                </div>

            </div>
        </section>




        <section id="portfolio">

		   <h1 class="section-heading mb75px">
                <span>
                    <i class="fas fa-th-list"></i>
                </span>
                <span> Projects</span>
            </h1>

            <div id="portfolio-container">

                <div class="portfolio-image-container">
                    <img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000025_1550237330_codezen_2.png">
                    <div class="portfolio-details">
                        <p>
                            Write here basic details about the project.
                        </p>
                    </div>

                </div>
                <div class="portfolio-image-container">
                    <img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000025_1550237330_codezen_2.png">
                    <div class="portfolio-details">
                        <p>
                            Write here basic details about the project.
                        </p>
                    </div>

                </div>
                <div class="portfolio-image-container">
                    <img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000025_1550237330_codezen_2.png">
                    <div class="portfolio-details">
                        <p>
                            Write here basic details about the project.
                        </p>
                    </div>

                </div>
                <div class="portfolio-image-container">
                    <img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000024_1550237299_codezen.png">
                    <div class="portfolio-details">
                        <p>
                            Write here basic details about the project.
                        </p>
                    </div>

                </div>
                <div class="portfolio-image-container">
                    <img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000024_1550237299_codezen.png">
                    <div class="portfolio-details">
                        <p>
                            Write here basic details about the project.
                        </p>
                    </div>

                </div>
                <div class="portfolio-image-container">
                    <img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000024_1550237299_codezen.png">
                    <div class="portfolio-details">
                        <p>
                            Write here basic details about the project.
                        </p>
                    </div>

                </div>

            </div>
        </section>



        <section id="contact">
		  <h1 class="section-heading mb50px">
                <span>
                    <i class="far fa-address-card"></i>
                </span>
                <span> Contact </span>
            </h1>
            <div id="contact-container">

                <div id="contact-form-container">
                  <form id="contact-form"  method="POST" action="/contact">
                     {% csrf_token %}
                          {{form}}
                        <button class="sub-btn" type="submit">SEND MESSAGE</button>


                    </form>
                </div>
                <div id="my-details-container">

                    <h3> Get In touch </h3>
                    <p> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>

                    <h3> My Address </h3>
                    <div class="my-details-info-container">
                        <i class="fas fa-map-marker-alt"></i>
                        <span>Balrampur, UP, India [ 271861 ] </span>
                    </div>
                    <div class="my-details-info-container">
                        <i class="fas fa-mobile-alt"></i>
                        <span>8853952715</span>
                    </div>
                    <div class="my-details-info-container">
                        <i class="far fa-envelope"></i>
                        <span>mateshwari33@gmail.com</span>
                    </div>
                </div>
            </div>


        </section>

    </main>

</body>
</html>
